* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Poppins", serif;
    font-size: 100%;
    min-height: 2000px;
}

h1,
h2,
h3 {
    margin-bottom: 48px;
}

h1 {
    font-size: 96px;
    font-weight: 600;
    line-height: 113px;
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
    
}

h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    h2 {
        font-size: 36px;
        line-height: 42px;
    }
    
}

h3 {
    font-size: 48px;
    font-weight: normal;
    line-height: 56px;
}

@media screen and (max-width: 576px) {
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    
}

p {
    font-size: 24px;
    margin-bottom: 16px;
    color: #999999;
}

@media screen and (max-width: 576px) {
    p {
        font-size: 16px;
        line-height: 19px;
    }
    
}

a {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #7FE9AA;
}

@media screen and (max-width: 576px) {
    a {
        font-size: 16px;
        line-height: 19px;
    }
    
}

.button {
    background-color: #000000;
    color: #7FE9AA;
    box-shadow: inset 0 0 0 2px #7FE9AA;
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 36px;
}

.button:hover {
    background-color: #7FE9AA;
    color: #000000;
}

.green {
    /* color: #4E7E65; */
    color: #7FE9AA;
}

.input-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.input-label span{
    font-size: 18px;
    font-weight: 400;
}

.input-field,
.input-textarea {
    font-family: "Poppins", serif;
    font-size: 18px;
    color: #101329;
    background-color: #7FE9AA;
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
    
}

.input-textarea {
    height: 100px;
}

::placeholder{
    color: #101329;
    opacity: 0.5;
    
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

/* section {
    padding-top: 64px;
    padding-bottom: 64px;
} */

/* Animazione typewriter */

#typewriter {
    color: #7FE9AA;
}

#cursor {
    color: #7FE9AA;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

/* .logo {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
    margin-right: 64px;
} */
.logo img {
    width: auto; /* Adatta la larghezza proporzionalmente */
    height: 42px; /* Stessa altezza della line-height del testo precedente */
    vertical-align: middle; /* Allinea verticalmente con eventuale testo vicino */
    margin-right: 64px;
    margin-bottom: 10px;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu ul li {
    margin-right: 24px;
}

.menu ul li a {
    font-size: 24px;
}

/* Hero */


.hero {
    display: flex;
    width: 100%;
    position: relative;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4) 31%), url('img/bg-image.png') no-repeat center center/cover;
}

#video-bg{
    position: absolute;
    top: 0;
    left: 0;
    min-width:100%;
    min-height: 100%;
    z-index: -1;
}

.hero-content {
    height: 100%;
    display: flex;
    /* proprietà per allineare i figli */
    flex-direction: column;
    justify-content: center;
}

.hero-cta {
    align-self: flex-end;
    margin-top: 64px;
}

/* Works */

.works-menu{
    position: sticky;
    top:70px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .works-menu {
        display: none;
    }
    
}

.works-menu ul {
    display: flex;
    list-style-type: none;
}

.works-menu ul li {
    margin-right: 24px;
}

/* .works {

} */

.works-item {
    padding-bottom: 64px;

}

.works-item-tags {
    font-size: 24px;
    color: #7FE9AA;
}

.work-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.work-info-label {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.work-info-content {
    flex-grow: 1;
    flex-shrink: 1;
    width: 70%;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img{
    margin-bottom: 36px;
    max-width: 100%;
}

.image-right{
    align-self: flex-end;
}

.image-left{
    align-self: flex-start;
}

/* .contacts {} */

.contacts-content {
    display: flex;
    justify-content: space-between;
}

.contacts-about,
.contacts-form {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .contacts-content {
        flex-direction: column;
        text-align: center;
    }
    .contacts-about,
.contacts-form {
    width: 100%;
}
}

.footer{
    background: linear-gradient(0deg, rgba(127, 233, 170, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-color: #7FE9AA;
    padding-top: 24px;
    padding-bottom: 24px;
}

.copyright{
    color: #000000;
}

.anchors{
    visibility: hidden;
    position: relative;
    top: -120px;
}

.back-to-top{
    background-image: url('img/back-to-top.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    border: 2px solid #7FE9AA;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
}

.fab.fa-linkedin,
.fab.fa-github {
    font-size: 36px; /* Dimensione dell'icona */
    color: #000000; 
    -webkit-text-stroke: 1px #7FE9AA; 
    transition: color 0.3s ease;
}

.fab.fa-linkedin:hover,
.fab.fa-github:hover {
    color: #7FE9AA;
}

.socials-menu{
    padding-bottom: 110px;
}

.socials-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.socials-menu ul li {
    margin-right: 24px;
}

.socials-menu ul li:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .socials-menu{
        text-align: center;
    }
    
    .socials-menu ul {
        justify-content: center;
    }
    
}